*.o
*.so
*.la
*.a
*.gmo
*.lo
.dirstamp
.DS_Store
Makefile
pcmanfm
config.h
config.h.in
config.h.in~
config.status
config.log
.deps/
.libs/
libtool
autom4te.cache/*
POTFILES
po/.intltool-merge-cache
Makefile.in
